!!! 5
%html
  %head
    %title KegeratorstatUs
    
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .row
        .eight.columns
          = yield

        .four.columns
          %h3 Sidebar
          - if user_signed_in?
            %ul
              %li= link_to "Kegerators", kegerators_path
              %li= link_to "Logout", destroy_user_session_path, :method => :delete
          - else
            = form_tag user_session_path do
              = label_tag "Email"
              = text_field_tag 'user[email]', '', :class => 'small input-text'
              = label_tag "Password"
              = password_field_tag 'user[password]', '', :class => "small input-text"
              %button Sign in
              %ul
                %li= link_to "Forgot your password?", new_password_path('user')
                %li= link_to "Signup!", new_user_registration_path
                        
